<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->



    <!--bean for autowire byType-->
    <!--    <bean id="movie1"  autowire="byType" class="com.stackroute.domain.Movie">-->

    <!--    </bean>-->
    <!--    <bean id="Actor" class="com.stackroute.domain.Actor">-->
    <!--        <constructor-arg type="String" value="vijay"/>-->
    <!--        <constructor-arg type="String" value="male"/>-->
    <!--        <constructor-arg type="int" value="23"/>-->
    <!--    </bean>-->

    <!--creating one bean for calling displaybeanname class.....-->
    <bean class="com.stackroute.domain.BeanPostProcessorDemoBean"></bean>



    <!--bean for autowire byConstructors-->
    <bean id="movie2"  class="com.stackroute.domain.Movie" scope="prototype" init-method="myInit" destroy-method="myDestroy">
        <property name="actor" ref="actor"/>
    </bean>
    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="rohith"/>
        <property name="gender" value="male"/>
        <property name="age" value="22"/>
    </bean>
</beans>