<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <!-- bean for autowireby Constructor-->
    <bean id="movie"  class="com.stackroute.domain.Movie">
        <property name="actor" ref="Actor"/>
    </bean>
    <bean id="Actor" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="vijay"/>
        <constructor-arg type="String" value="male"/>
        <constructor-arg type="int" value="23"/>
    </bean>


    <!--bean for autowire by name -->
    <bean id="movie2" autowire="byName" class="com.stackroute.domain.Movie">
    </bean>
    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="rohith"/>
        <property name="gender" value="male"/>
        <property name="age" value="22"/>
    </bean>
</beans>